{% extends "header.html" %}

{% block body %}
<body style="background-color: LavenderBlush">
    <section class="jumbotron text-center" style="background-color: LavenderBlush;">
        <div class="container">
            <img src="../static/images/roses.png" alt="Roses" class="img-fluid">
          <h1 class="jumbotron-heading">Find Buds and Roses</h1>
          <p class="lead text-muted">Bryn Mawr College</p>
          <p>
            <form method="post" class="form-inline">

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2" name="nameInput2" value = "{{request.form.nameInput2}}">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">@brynmawr.edu</span>
              </div>
            </div>
            <div class="input-group mb-3">
            <input class="btn btn-light" id="submitkey" type="submit" value="Submit">
            </div>
            </form>
          </p>
        </div>
      </section>
      <div class="container">
      <br><center><h2>{{ HelloWorld }}</h2></center>
      </div>
</body>

{% endblock %}
